

<footer>
  <h4>CSV Upload</h4>
  <p>© Copyright, Codiel 2022</p>
  <div class="footer-links">
    <a href="/">Home</a>
    <a href="https://github.com/tejash023">GitHub</a>
    <a href="https://www.tejash.live">Website</a>
  </div>
</footer>