

<footer>
  <h4>CSV Upload</h4>
  <p>CSV Upload 2022</p>
  <div class="footer-links">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="https://github.com/tejash023" target="_blank" ><i class="fa-brands fa-github"></i></a>
    <a href="https://www.tejash.live" target="_blank"><i class="fa-solid fa-globe"></i></a>
  </div>
</footer>