<h1>CSV Upload</h1>

<form action="/file/uploads" method="POST" enctype="multipart/form-data">
  <input type="file" name="csv">
  <button type="submit">Upload</button>

</form>

<% for(let i = 0; i < files.length; i++) { %>
<ul>
  <a href="/view/<%= files[i]._id %>"><%= files[i].name %></a>
 </ul> 

<% } %>